// BookingForm.module.scss

.booking-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .head{
    width: 100%;
  }
  // Заголовок формы
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  // Группа ввода (дата, количество месяцев)
  .input-group {
    margin-bottom: 20px;

    // Подпись к полю ввода
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #555;
    }

    // Поле ввода
    input {
      display: flex;
      width: 362px;
      height: 54px;
      padding: 11px 20px;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      border: 1px solid var(--Secondary-Gray, #c1c1c1);

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }

  // Кнопка "Забронировать"
  &__button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
