// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


  .cards_container {

    // margin: 0 20px;

    &.empty{
      // display: flex;
      // align-items: center;
      // justify-content: center;
      
    }
    p {
      display: flex;
      align-items: center;
      height: calc(100vh - 432px);
      color: var(--Main-Color-Dark, #151515);
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;

      /* Rentplace Mobile/Medium SemiBold */
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 128.571% */
    }

    // .no-results {
    //   grid-column: 1 / -1;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   min-height: 50vh;
    //   text-align: center;
    //   font-size: 1.2rem;
    //   color: #555;
    //   padding: 1rem;
    // }
  }
