@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.AnnouncementHead {
  display: flex;
  align-items: center; // Выравнивает все дочерние элементы по центру по вертикали

  .icon {
    flex-shrink: 0; // Запрещает иконке сжиматься
  }

  span {
    flex-grow: 1; // Разрешает тексту занимать оставшееся пространство
    text-align: center; // Центрирует текст внутри span
    color: var(--Main-Color-Dark, #151515);
    font-variant-numeric: lining-nums proportional-nums;

    /* Rentplace Mobile/Medium Bold */
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
  }
}
.divider {
  margin-top: 10px;
  height: 1px;
  background: var(--Secondary-Gray, #c1c1c1);
}
