@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
*{
  box-sizing: border-box;
}
.button-container {
  
  // border: 1px solid #000;
  // border: 1px solid #000;
  // width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  .fixed{
    position: fixed;
  }
  .inverted{
    background: white !important;
    border: 1px solid var(--Main-Color-Blue, #007AFF) !important;

    span{
      color: #007AFF !important;
    }
  }
  .big-blue-button {
    box-sizing: border-box;
    width: 91%;
    &.fullwidth{
      width: 100% !important;
    }
    &.bottom{
      bottom: 10px !important;
    }
    display: flex;
    height: 54px;
    padding: 14px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Main-Color-Blue, #007aff);
    // position: fixed;
    bottom: 90px;
    margin: 0 auto !important;
    max-width: 100%;
    border: 0px solid #000;
    span {
      text-wrap: nowrap;
      color: var(--White, #fff);
      font-variant-numeric: lining-nums proportional-nums;

      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 125% */
    }
    .big-blue-button-span {
      text-wrap: nowrap;
      color: var(--White, #fff);
      font-variant-numeric: lining-nums proportional-nums;

      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 125% */
    }
  }
}