@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.conveniences {
  h2 {
    color: var(--Main-Color-Dark, #151515);
    font-variant-numeric: lining-nums proportional-nums;

    /* Rentplace Mobile/Big Bold */
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    .item {
      display: flex;
      align-items: center;
      gap: 6px;
      color: var(--Main-Color-Dark, #151515);
      font-variant-numeric: lining-nums proportional-nums;

      /* Rentplace Mobile/Medium */
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
    }
  }
}