.loading-screen_logo {
  background-color: #007aff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50px;
    height: 40px;
  }
  span {
    color: var(--White, #fff);
    text-align: right;

    /* H1 */
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px; /* 107.692% */
    margin-left: 14px;
  }
}
@media (max-width: 400px) {
  .loading-screen_logo {
    img {
      width: 40px;
      height: 30px;
    }
    span {
      font-size: 42px;
    }
  }
}
